<div class="al-log">
    {% for char in page.characters %}
    <div class="al-log frame">
        <hr class="orange-border" />
        <div>
            <div class="character-heading">
                <h1>{{ char.name }}</h1>
                <h2>{{ char.species }} {{ char.class }}</h2>
            </div>
            <svg height="5" width="100%" class="tapered-rule">
                <polyline points="0,0 400,2.5 0,5"></polyline>
            </svg>
            <div class="log-block">
                <h3>Erfahrung</h3>
                <div class="property-block">
                    <h4>Start XP</h4>
                    <p>{{ char.xp }}</p>
                </div> <!-- property block -->
                <div class="property-block">
                    <h4>Gewonnene XP</h4>
                    <p>{{ page.quest.xp | divided_by: forloop.length }}</p>
                </div> <!-- property block -->
                <div class="property-block">
                    <h4>Aktuelle XP</h4>
                    <p>{{ page.quest.xp | divided_by: forloop.length | plus: char.xp }}</p>
                </div> <!-- property block -->
                <br>
            </div>
            <div class="log-block">
                <h3>Schätze</h3>
                <div class="property-block">
                    <h4>Start Gold</h4>
                    <p>{{ char.gp }}</p>
                </div>
                <div class="property-block">
                    <h4>Gewonnenes Gold</h4>
                    <p>{{ page.quest.gp | divided_by: forloop.length }}</p>
                </div>
                <div class="property-block">
                    <h4>Aktuelles Gold</h4>
                    <p>{{ page.quest.gp | divided_by: forloop.length | plus: char.gp }}</p>
                </div>
                <div class="property-block">
                    <h4>Gewonnene Items</h4>
                    {% if char.items != nil %}
                    <p>{{ char.items | array_to_sentence_string: "" }}</p>
                    {% else %}
                    <p> - </p>
                    {% endif %}
                </div>
            </div>
            <div class="log-block">
            </div>
        </div>
        <hr class="orange-border bottom" />
    </div>
    {% endfor %}
</div>